---
import Layout from "#layouts/Layout.astro";
import {marked} from "marked";

const gitHubProfileDescription = await fetch("https://raw.githubusercontent.com/Letsmoe/Letsmoe/main/README.md")

const markdown = await gitHubProfileDescription.text()
const content = await marked.parse(markdown)
---

<Layout title="Moritz Utcke - About">
	<main class="max-w-screen-xl mt-16 py-16 w-full mx-auto">
		<h1>About Me</h1>
		<article set:html={content}></article>
	</main>
</Layout>
