---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="About - Letsmoe">
	<main>
		<h1>About Letsmoe</h1>
		<p>
			I'm a self-taught software engineer. In 2022 i finished school and
			went on a cycling tour through Asia, Australia and the Americas with
			the goal being to circumnavigate the world.
		</p>
		<p>
			On my laptop i write blogs and open-source projects for <a
				href="https://github.com/Letsmoe">GitHub</a>
		</p>

		<h2>More</h2>
		<ul>
			<li>
				<a href="https://publishing.continuum-ai.de/Letsmoe"
					>Programming Blog</a>
			</li>
			<li>
				<a href="https://publishing.continuum-ai.de/Letsmoe"
					>Travel Blog</a>
			</li>
			<li>
				<a href="https://github.com/Letsmoe/amazing"
					>The Amazing list</a>
			</li>
		</ul>
		<h2>Links</h2>
		<ul>
			<li><a href="https://github.com/Letsmoe">GitHub</a></li>
			<li><a href="https://instagram.com/moritz_utcke">Instagram</a></li>
		</ul>
	</main>
</Layout>
