---
import GalleryView from "#components/GalleryView.svelte";
import Layout from "#layouts/Layout.astro";
import Config from "#assets/gallery/config.json";
import GalleryPagination from "#components/GalleryPagination.svelte";

const page = parseInt(Astro.params.page);

// If the page is not a number, redirect to the first page.
if (!page || isNaN(page) || page < 1) {
	return Astro.redirect("/gallery/1")
}

// Every page has 25 images.
const sections = [];

const allImages = await Astro.glob("/src/assets/gallery/**/*.jpg");


// Skip the images that are not in the current page.
const images = allImages.slice((page - 1) * 25, page * 25);

let imageCount = 0;
for (const title in Config) {
	const { folder, text } = Config[title];

	const img = images.filter((image) => {
		return image.default.src.indexOf(folder) > -1;
	});

	if (img.length === 0) {
		continue;
	}

	imageCount += img.length;

	sections.push({
		text,
		images: img,
		title,
		folder,
	});
}
---

<Layout title="Gallery">
	<main class="max-w-screen-xl !mt-[80px] py-16 w-full mx-auto">
		<h1>Gallery</h1>
		<GalleryView sections={sections} client:load />
		<div class="flex justify-center mt-8">
			<GalleryPagination imageCount={allImages.length} imagesPerPage={25} page={page}></GalleryPagination>
		</div>
	</main>
</Layout>
