---
import Layout from "#layouts/Layout.astro";
import Story from "#components/Story.astro";
import StoryFilter from "#components/StoryFilter.svelte";
import Search from "#components/Search.svelte";
const stories = await Astro.glob("../../content/blog/**/*.{mdx,md}");
const searchList = Object.values(stories).map(x => ({frontmatter: x.frontmatter, url: x.url}))

const categories = [
	...new Set(stories.map((x) => x.frontmatter.category).filter((x) => x)),
];
---

<Layout title="Blog - Letsmoe">
	<main class="max-w-screen-xl w-full mx-auto px-4 mt-16 py-16">
		<h2>Follow Me on my Journey</h2>
		<iframe class="mb-8 w-full rounded-lg" height="480" src="https://www.polarsteps.com/Letsmoe/5393255-reise-nach-nepal/embed"></iframe>
		<div class="mb-4 flex justify-between flex-col gap-2 sm:flex-row">
			<StoryFilter categories={categories} client:load />
			<Search searchList={searchList} client:load></Search>
		</div>
		<h2>Blog Entries</h2>
		<div class="grid grid-cols-1 gap-4 lg:grid-cols-2 justify-items-center">
			{stories.sort(
				(a, b) => b.frontmatter.order - a.frontmatter.order
			).map((story) => <Story data={story} />)}
		</div>
	</main>
</Layout>
