---
import GlitchCanvas from "#components/GlitchCanvas.svelte";
import ProjectCard from "#components/ProjectCard.svelte";
import Layout from "../layouts/Layout.astro";
import { ArrowDown } from "radix-svelte-icons";
---

<Layout title="Moritz Utcke">
	<div class="section h-[100vh] top-[80px] absolute bg-base-100 text-center">
		<div
			class="flex flex-col gap-4 items-center justify-between fixed left-[50%] h-[calc(100vh-80px)] translate-x-[-50%] py-16 w-full px-4"
		>
			<img
				src="/images/kyrgizstan.webp"
				class="rounded-full my-0 w-2/3 max-w-[482px]"
				alt="Me"
			/>
			<a href="" class="no-underline"
				><h1 class="neon !text-6xl lg:text-8xl my-0">Moritz Utcke</h1></a
			>
			<ArrowDown size={48} class="animate-bounce" />
		</div>
	</div>
	<div
		class="section absolute top-[100vh] bg-base-200 w-full h-auto min-h-[100vh] px-4"
	>
		<div class="max-w-screen-xl mx-auto py-16">
			<h1 class="neon text-4xl" id="projects">Projects</h1>
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
				<ProjectCard
					icon="/icons/meta.svg"
					title="META"
					description="META is a compiler writing toolchain optimized for speed and reliability. It is easy to pick up and extremely flexible."
					github="https://github.com/the-meta-lang"
					website="https://meta-lang.com"
				/>
				<ProjectCard
					icon="/icons/gyro.svg"
					title="Gyro"
					description="A multi-language, statically typed, syntax extensible programming language built for speed and customizability."
					github="https://github.com/gyro-lang"
					website="https://gyro-lang.com"
				/>
			</div>
		</div>
		<div class="max-w-screen-xl mx-auto py-16">
			<h1 class="neon text-4xl">About Me</h1>
			<p>
				I'm a self-taught software engineer from Germany.
			</p>
			<p>
				I occasionally dip my toes into stuff that i dont't know yet. I
				know a decent amount of programming languages both
				object-oriented and functional as well as a good amount of x86
				Assembly (i don't know how that happened either) 😆
			</p>
			<p>
				I've done a few projects, mostly web-based or
				compilers/languages and have most definitely spent too much time
				in front of a computer...
			</p>
			<p>
				I love hiking, cycling, climbing and all things outdoors. I've been to 49 countries so far, and traveled to just over 30 of that with my bicycle alone. I really enjoy street and nature photography altho i'm kinda bad at it tbh...
			</p>
			<p>
				I enjoy learning languages. I'm fluent in both german and english, speak a decent amount of french and can communicate reasonably well in indonesian and will try to improve my mandarin over the next few months and years.
			</p>
			<h2 class="neon">Programming languages I know</h2>
			<div class="flex flex-row flex-wrap gap-16 items-center justify-center grid-flow-dense">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/Python.svg" alt="Python" title="Python">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/Go.svg" alt="Go" title="Go">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/CPlusPlus.svg" alt="C++" title="++">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/C.png" alt="C" title="C">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/Nasm.png" alt="x86-64 NASM Syntax" title="Syntax">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/Lisp.svg" alt="Lisp" title="Lisp">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/Racket.svg" alt="Racket" title="Racket">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/lua.svg" alt="Lua" title="Lua">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/PHP.svg" alt="PHP" title="PHP">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/Ruby.svg" alt="Ruby" title="Ruby">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/TypeScript.svg" alt="TypeScript" title="TypeScript">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/MetaLang.svg" alt="META" title="META">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/GyroLang.svg" alt="Gyro" title="Gyro">
				<img class="w-full h-full max-w-[20%]" src="/images/logos/Bash.svg" alt="Bash" title="Bash">
			</div>
		</div>
	</div>
</Layout>

<style>
	.section {
		scroll-snap-align: start;
	}
</style>
