.neon {
	color: #fff;
	text-shadow: 1px 1px 1px #919191, 1px 1px 1px #919191,
		1px 3px 1px #919191, 1px 4px 1px #919191, 1px 2px 1px #919191,
		1px 3px 1px #919191, 1px 7px 1px #919191, 1px 4px 1px #919191,
		1px 4px 1px #919191, 1px 10px 1px #919191, 0 0 3px #fff,
		1px 9px 3px rgba(16, 16, 16, 0.4),
		1px 11px 5px rgba(16, 16, 16, 0.2),
		1px 12px 17px rgba(16, 16, 16, 0.2),
		1px 15px 30px rgba(16, 16, 16, 0.4);
	opacity: 0.85;
}

.neon:hover {
	animation: glitch .375s infinite;
}


@keyframes glitch {
0% {
	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
}
15% {
	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
}
16% {
	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
}
49% {
	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
}
50% {
	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
}
99% {
	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
}
100% {
	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
}
}