---
import { Icon } from "astro-icon";
const { message } = Astro.props;
---

<div
	class="px-6 py-4 border-l-4 border-l-yellow-400 bg-orange-100 font-medium my-4"
>
	<Icon
		name="material-symbols:warning-outline-rounded"
		class="mb-2 text-yellow-600 mr-2"
	>
		{message}
	</Icon>
</div>
