---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import * as path from "path";

const matchingProjects = await getCollection("projects", (entry) => {
	return entry.slug === path.basename(Astro.url.pathname);
});

if (matchingProjects.length == 0) {
	return Astro.redirect("/projects");
}

const project = matchingProjects[0];

const formattedDate = new Date().toLocaleDateString("en-US");

const { Content } = await project.render();
---

<Layout title={project.data.title}>
	<main class="max-w-[1200px] w-full mx-auto">
		<div class="row justify-between center">
			<a href="/projects">go back</a>
		</div>
		<Content />
	</main>
</Layout>
