---
import Layout from "~/layouts/Layout.astro";

export async function getStaticPaths() {
	const posts = await Astro.glob("../../content/projects/*.mdx");

	return posts.map((post) => ({
		params: {
			project: post.frontmatter.slug,
		},
		props: {
			post,
			date: new Date(),
		},
	}));
}

const {
	post: {
		Content,
		frontmatter: { title },
	},
	date,
} = Astro.props;

const formattedDate = new Date(date).toLocaleDateString("en-US");
---

<Layout title={title}>
	<main class="max-w-[1200px] w-full mx-auto">
		<div class="row justify-between center">
			<h4>Published {formattedDate}</h4>
			<a href="/projects">go back</a>
		</div>
		<Content />
	</main>
</Layout>
