---
import Layout from "~/layouts/Layout.astro";
import Card from "../../components/Card.svelte";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title="Projects - Letsmoe">
	<main class="max-w-[1200px] w-full mx-auto">
		<h1>Projects</h1>
		<p>
			Over the years, i have worked on quite a few projects, here are the ones i'm most proud of and still work on to this day.
		</p>
		<p>
			You can check out all my projects on <a href="https://github.com/Letsmoe">GitHub</a>.
		</p>
		<div class="grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3">
			{projects.map(project => <Card
				link={`/projects/${project.slug}`}
				name={project.data.title}
				slug={project.data.description}
				image={project.data.image}
			/>)}
		</div>
	</main>
</Layout>
