---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Donate - Letsmoe">
	<main class="max-w-[1200px] w-full mx-auto">
		<h1>Donate ❤️</h1>
		<p>
			I'm a full-time open-sourcerer and my work is funded by you, the
			community!
		</p>
		<p>
			If you appreciate my work, consider supporting me so i can continue
			working on what you love
		</p>

		<h2>More</h2>
		<ul>
			<li>
				<a href="https://publishing.continuum-ai.de/Letsmoe"
					>Programming Blog</a>
			</li>
			<li>
				<a href="https://publishing.continuum-ai.de/Letsmoe"
					>Travel Blog</a>
			</li>
			<li>
				<a href="https://github.com/Letsmoe/amazing"
					>The Amazing list</a>
			</li>
		</ul>
		<h2>Links</h2>
		<ul>
			<li><a href="https://github.com/Letsmoe">GitHub</a></li>
			<li><a href="https://instagram.com/moritz_utcke">Instagram</a></li>
		</ul>
	</main>
</Layout>
