---
import Header from '../components/Header.svelte';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌈</text></svg>" />
		<link rel="stylesheet" href="/style/global.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header client:load></Header>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	h1 {
		@apply text-2xl font-bold mb-2 mt-4 lg:text-3xl;
	}

	h2 {
		@apply text-xl font-bold lg:text-2xl;
	}

	main p {
		@apply text-lg mb-4 text-gray-800 lg:text-xl;
	}

	main ul li {
		@apply text-lg text-gray-800 lg:text-xl;
	}

	main a[href]:not(.button) {
		@apply border-b-2 pb-0.5 border-b-violet-600 relative text-lg lg:text-xl;
	}

	main a[href]:not(.button)::before {
		content: "";
		@apply bg-violet-300 opacity-20 w-0 absolute top-0 left-0 h-full transition-[background-color,0.4s,ease];
	}

	main a[href]:not(.button):hover::before {
		@apply w-full;
	}

	main {
		@apply px-6 py-8;
	}
	
	main ul {
		@apply flex flex-col gap-1 mb-4 mt-2 list-disc ml-6;
	}

	main input, main textarea, main select {
		@apply rounded-lg px-2 py-1 border-2 bg-white outline-none hover:bg-slate-50 transition-colors text-lg;
	}

	main blockquote {
		@apply border-l-4 pl-6 ml-4 my-4;
	}
</style>
