---
import Header from '../components/Header.svelte';
import "#style/main.scss";
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌈</text></svg>" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header client:load></Header>
		<main class="prose prose-xl max-w-[100vw]">
			<slot />
		</main>
	</body>
</html>

<style>
	main {
		scroll-snap-points-y: repeat(100vh);
		scroll-snap-type: y mandatory;
		scroll-snap-type: mandatory;
		overflow: auto;
	}
</style>